.cardContainer {
	display: inline-flex;
	flex-direction: column;
	margin: 10px;
	width: 200px;
	height: 200px;
	justify-content: center;
	align-items: center;
	border: 1px solid #ddd;

	background: url("./cardBG.png");
  background-size: 100% 50%;
  background-repeat: no-repeat;

  
}

.cardPhoto {
	margin-top:10px;
	margin-bottom:20px;
	background-color: #ddd;
	width: 75px;
	height: 75px;
	border: 3px solid #fff;
	-webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,1);
	box-shadow: 0px 0px 18px -1px rgba(0,0,0,1);


}

.cardPhoto img {
	width: 75px;
	height: 75px;
}

.cardStats {

}



